<div *ngIf="true" class="d-flex flex-wrap m-4" rsDomNavigator [identifier]="'id'" [active]="active"
  (onNavigate)="onSelect($event)">
  <div class="box" [id]="index" [ngStyle]="{width: 100 + index * 2 + 'px'}" #navItem=navItem rsDomNavigatorItem
    [item]="item" [class.active]="active?.id == item.id" (click)="onSelect(item)"
    *ngFor="let item of items; let index = index; let even = even">
    <span [innerHtml]="item.id"></span>
    <span [innerHtml]="item.name"></span>
    <div class="d-flex flex-column">
      <div> bottom: {{navItem.domRect?.bottom}} </div>
      <div> left: {{navItem.domRect?.left}} </div>
      <div> right: {{navItem.domRect?.right}} </div>
      <div> top: {{navItem.domRect?.top}} </div>
      <div> height: {{navItem.domRect?.height}} </div>
      <div> width: {{navItem.domRect?.width}} </div>
      <div> x: {{navItem.domRect?.x}} </div>
      <div> y: {{navItem.domRect?.y}} </div>
      <div>--------------------------</div>
      <div> bottom: {{navItem.domRectWithMargin?.bottom}} </div>
      <div> left: {{navItem.domRectWithMargin?.left}} </div>
      <div> right: {{navItem.domRectWithMargin?.right}} </div>
      <div> top: {{navItem.domRectWithMargin?.top}} </div>
      <div> height: {{navItem.domRectWithMargin?.height}} </div>
      <div> width: {{navItem.domRectWithMargin?.width}} </div>
      <div> x: {{navItem.domRectWithMargin?.x}} </div>
      <div> y: {{navItem.domRectWithMargin?.y}} </div>
    </div>
  </div>
</div>

<div class="h"></div>
<div class="v"></div>

<div class="d-flex flex-wrap m-4" rsDomNavigator [identifier]="'path.id'" [active]="active2"
  (onNavigate)="onSelect2($event)">
  <div class="box" #navItem=navItem rsDomNavigatorItem [item]="item" [class.active]="active2?.path.id == item.path.id"
    (click)="onSelect2(item)" *ngFor="let item of items2">
    <span [innerHtml]="item.id"></span>
    <span [innerHtml]="item.name"></span>
    <div class="d-flex flex-column">
      <div> bottom: {{navItem.domRect?.bottom}} </div>
      <div> left: {{navItem.domRect?.left}} </div>
      <div> right: {{navItem.domRect?.right}} </div>
      <div> top: {{navItem.domRect?.top}} </div>
      <!-- <div> height: {{navItem.domRect?.height}} </div>
      <div> width: {{navItem.domRect?.width}} </div>
      <div> x: {{navItem.domRect?.x}} </div>
      <div> y: {{navItem.domRect?.y}} </div> -->
    </div>
  </div>
</div>